@keyframes float {
    0% {
      filter: drop-shadow(5px 15px 5px black);
      transform: translateY(0px);
    }
    50% {
      filter: drop-shadow(15px 25px 15px black);
      transform: translateY(-10px);
    }
    100% {
      filter: drop-shadow(5px 15px 5px black);
      transform: translateY(0px);
    }
}

@keyframes rotateBG {
    0%{background-position:29% 100%}
    50%{background-position:72% 0%}
    100%{background-position:29% 100%}
}



.container{
    width:1920px;
    height:1080px;
    background: var(--bg);
    background-size:400% 400%;
    color: var(--color);
    animation: rotateBG 15s ease infinite;
    position:relative;
    > .title{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        > h1{
            font-size: 10rem;
            line-height: 1.25;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: bolder;
            transform:rotate(-10deg) skew(-15deg);
            > span {
                display:block;
                text-align: center;
                z-index:1;
                animation: float 3s ease-in-out infinite;

                $words: 2;
                @for $i from 0 to $words {
                    &:nth-child(#{$words - $i}) {
                        animation-delay: #{$i*(-400)}ms;
                        @if($i % 2 == 0){
                            color: var(--highlight);
                        }
                        @else{
                            color: var(--color);
                        }
                    }
                }
                > span{
                    min-width: 3rem;
                    opacity:0;
                    display:inline-block;
                    transform:translateY(150px);
                    transition: opacity 0.75s ease, transform 1s ease;
                    $letters: 15;
                    @for $i from 0 to $letters {
                        &:nth-child(#{$letters - $i}) {
                            transition-delay: #{$i*5}00ms ;
                        }
                    }
                }
            }
        }
        > h1.show{
            >span>span{
                opacity:1;
                transform:translateY(0); 
            }
        }
        > h1.hide{
            >span>span{
                opacity:0;
                transform:translateY(-150px); 
            }
        }
    }
}